body{
    background-color: #FFFFFF;
    margin: 0px;
}

/* ----------------------------
        NAVBAR
------------------------------ */

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
    width: 80%;
}

.logo{
    width: 120px;
}

.nav-item{
    margin-left: 60px;
    color: #00000079;
    font-weight: 600;
}

.nav-item:hover{
    color: #000000;
    transition: 250ms ease-in-out;
}

.nav-item-active{
    color: #000000;
    font-weight: 600;
}

.nav-links{
    font-family: Arial, Helvetica, sans-serif;
    /* margin-right: 30px; */
    display: flex;
    flex-wrap: wrap;

    position: relative;
    left: 80px;
}

.reg-btn{
    padding: 20px 30px;
    background-color: transparent;
    border: 2px solid #66C5FF;
    border-radius: 8px;
    color: #66C5FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;

    position: relative;
    left: 80px;
}

.reg-btn:hover{
    color: #FFFFFF;
    background-color: #1595f1;
    border: 2px solid #1595f1;
    transition: 150ms ease-in-out;
}

.nav-burger{
    display: none;
}


/* ---------------------------------------------------
        TOP SECTION
------------------------------------------------------*/



.top-section{
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

}

.div1{
    margin-top: 50px;
}

.div1, .div2, .div3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

.div3{
    margin-bottom: 60px;
}

h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}



.top-section p{
    color: #000000a0;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    line-height: 30px;

}

.btn-one{
    padding: 15px 25px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(-45deg, #0572EC, #09BFF8);
    border: 0px solid;
    border-radius: 8px;
    font-size: 15px;

    box-shadow: #0563804d 0px 10px 20px;

    
}

.btn-one:hover{
    background: linear-gradient(45deg, #09BFF8, #0572EC);
    transition: 400ms;

}


/* --------------------------------
        CARDS
----------------------------------- */

.section-two-cards{
    margin: 0px 100px;
}

.section-two-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-two-text p{
    width: 600px;
    font-size: 17px;
    color: #000000a0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    word-spacing: 2px;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    width: 27%;
    margin-bottom: 90px;
}

.card h4{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.card p{
    color: #00000079;
    line-height: 25px;

}


/* ------------------------
        PACKAGE SECTION
--------------------------- */

.packages{
    background: linear-gradient(-45deg, #0572EC, #09BFF8);
    padding-top: 20px;
    padding-bottom: 80px;
}

.packages h1{
    color: #FFFFFF;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px auto;
}

.package-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.package-card{
    background-color: #FFFFFF;
    /* padding: 15px 35px; */
    /* padding-right: 100px;  */
    padding-bottom: 50px; 
    width: 330px;
    border-radius: 10px;
    
}

.package-cards h3{
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
}

.package-cards small{
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #00000079;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-bottom: 25px; */
}

.package-cards ul{
    margin-top: 50px;
    color: #00000085;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.package-cards li{
    margin-bottom: 30px;
    list-style-image: url('./assets/icons8-tick-box-16.png');
}

.package-cards span{
    color: #00000079;
}

.pricing{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.pricing small{
    font-size: 14px;
    
}

.post-price-btn{
    margin-top: 40px;
    padding: 15px 40px;
    color: #49b9ff;
    background-color: #FFFFFF;
    border: 2px solid #66C5FF;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
}

.post-price-btn:hover{
    background: linear-gradient(-45deg, #0572EC, #09BFF8);
    color: #FFFFFF;
    transition: 150ms ease-in-out;

}

.post-price-btn:hover{
    border: 2px solid;
}

.active-div{
    background-color: #000000cd;
    color: #FFFFFF;
    border-radius: 10px;
}

.reg-div, .active-div{
    padding: 20px 30px;
    /* padding-right: 100px; */

}

.active-div small{
    color: #FFFFFF;
}

.active-btn{
    background: linear-gradient(-45deg, #0572EC, #09BFF8);
    color: #FFFFFF;
    border: 0px solid;
    box-shadow: #0563804d 0px 10px 20px;
}

.active-btn:hover{
    background: #FFFFFF;
    color: #49b9ff;

    transition: 150ms ease-in-out;
}

/* ----------------------------------------
    CUSTOMER SECTION
-------------------------------------------*/

.cust-section{
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
}

.cust-section h2{
    width: 600px;
    margin: 0px auto 30px;
}

.cust-section small{
    color: #000000a0;
    width: 900px;
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
}

.cust-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cust-card{
    display: flex;
    flex-direction: column;

    width: 40%;
    margin-bottom: 30px;
    border: 1px solid #0000000c;
    border-radius: 6px;
    padding: 50px;

    background-color: transparent;
}

.cust-card p{
    color: #000000a0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.cust-info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-photo{
    display: inline;
    background-color: #808080;  
    padding: 20px;
    border-radius: 50%;
    align-self: flex-end;
    margin-right: 30px;
}


.cust-card {
    display: flex;
    flex-direction: column;

    width: 40%;
    margin-bottom: 30px;
    border: 1px solid #0000000c;
    border-radius: 6px;
    padding: 50px;

    background-color: transparent;
}

.cust-card:hover{
    background: linear-gradient(-45deg, #ffffffe0, #fbfbfbc1);
    box-shadow: 25px 25px 50px #00000024;
    transition: 250ms ease-in-out;
}


/* -------------------------------
        REGISTER SECTION
---------------------------------- */

.register-div{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #09BFF8;
    opacity: 0.8;
    background: repeating-linear-gradient(-30deg, #0687EF, #0687EF 70px, #1595F1 20px, #1595F1 300px);
}

.register-div div{
    width: 800px;
    color: #FFFFFF;
}

.register-div h2{
    width: 600px;
}

.register-btn{
    padding: 15px 40px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.register-btn:hover{
    color: #1595f1;
    background-color: #FFFFFF;
    transition: 150ms ease-in-out;
}

/* -----------------------------
        FOOTER SECTION
-------------------------------- */

.footer-section{
    margin: 150px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 100px;
}

.footer-section img{
    width: 100px;
}

.footer-left{
    width: 30%;
}

.footer-center{
    display: flex;
    margin-right: 70px;
}

.footer-center ul{
    margin-top: -30px;
}

.footer-center h5{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-center li{
    margin-right: 60px;
    color: #000000a0;
    list-style: none;
    line-height: 50px;
}

.list{
    display: flex;
    margin-right: 70px;
}

.list h5{
    font-size: 20px;
}

.lisct li{
    margin-right: 60px;
}

.footer-left p{
    color: #000000a0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.footer-right{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
}

.footer-right h5{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-r{
    display: flex;
    justify-content: space-between;
}

.footer-r p{
    background: linear-gradient(-45deg, #0572EC, #09BFF8);
    width: 20px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;

    box-shadow: #0563804d 0px 10px 20px;
}


@media screen and (max-width: 1280px){

    /* ---------------------------------------
        MEDIA - NAV 
    ------------------------------------------*/

    .reg-btn{
        padding: 15px 24px;
        position: relative;
        left: 0px;
        right: 60px;
    }

    .nav-links{
        display: none;
    }

    .nav-burger{
        display: block;
        font-size: 25px;
        position: absolute;
        right: 30%;
    }

    /* --------------------------------------
        MEDIA - TOP SECTION
    -----------------------------------------*/

    .head-one, .head-two, .head-three{
        font-size: 35px;
    }

    .top-section img{
        width: 450px;
    }

    .top-section p{
        width: 500px;
    }

    .api-heading{
        font-size: 40px;
    }

    .section-two-text p{
        font-size: 17px;
        margin-left: 40px;
    }

    /* ------------------------------------------
        MEDIA - PACKAGES
    ---------------------------------------------*/

    .packages h1{
        font-size: 40px;
    }

    .package-cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .package-card{
        margin-top: 30px;
    }


    /* ---------------------------------------------
        MEDIA - CUSTOMER SECTION
    ------------------------------------------------*/


    .cust-section h2{
        font-size: 35px;
        margin: 0px auto 30px;
        text-align: center;
    }

    .cust-card{
        width: 350px;
    }

    /* -------------------------------------------------
        MEDIA - REGISTER DIV
    ----------------------------------------------------*/

    .register-div h2{
        font-size: 35px;
        width: 400px;
    }

    .register-div p{
        width: 600px;
    }

    .register-btn{
        padding: 20px 40px;
    }

}

@media screen and (max-width: 768px){

    body{
        width: 750px;
    }

    /* -----------------------------------------
            MEDIA2 - TOP-SECTION
    --------------------------------------------*/
    .top-section{
        width: 600px;
        margin-left: 60px;
    }

    .div1, .div2, .div3{
        display: flex;
        align-items: center;
    }

    .top-section h2{
        font-size: 32px;
        width: 370px;
        
    }

    .top-section p{
        width: 300px;
    }

    .top-section img{
        width: 300px;
    }

    .left-one, .right-two, .left-three{
        width: 350px;
        margin: 0px 50px;
    }

    .left-one, .left-two, .left-three{
        position: relative;
        left: 50px;
        margin-right: 20px;
    }

    .right-two{
        position: relative;
        left: 20px;
    }

    .left-one, .left-three{
        left: 30px;
    }

    /* ------------------------------------------------
            MEDIA2 - CARDS
    --------------------------------------------------- */

    .section-two-text{
        display: flex;
        flex-wrap: wrap;
        margin: 20px auto;
    }

    .api-heading{
        text-align: center;
        font-size: 32px;
    }

    .section-two-text p{
        font-size: 16px;
    }

    .cards{
        justify-content: space-around;
        width: 550px;
        margin: 10px auto;
    }

    .card{
        width: 200px;
        margin-right: 10px;

        padding: 10px 20px;
        border: 1px #0000000c solid;
    }

    /* -----------------------------------------------------
            MEDIA2 - PACKAGE-SECTION
    --------------------------------------------------------*/

    .packages h1{
        font-size: 36px;
        
    }

    /* ------------------------------------------------------
            MEDIA2 - CUSTOMER-SECTION
    ---------------------------------------------------------*/

    .cust-section{
        width: 550px;
    }

    .cust-section small{
        width: 550px;
        margin: 10px auto;
    }

    .cust-section h2{
        font-size: 32px;
    }

    .cust-cards{
        margin-top: 30px;
    }

    .cust-card{
        margin: 10px auto;
    }

    /* --------------------------------------------------------
            MEDIA2 - REGISTER SECTION
    -----------------------------------------------------------*/

    .register-div h2{
        font-size: 32px;
    }

    .register-div p{
        width: 450px;
    }

    .register-div div{
        margin-right: 20px;
    }

    .register-btn{
        padding: 10px 30px;
        font-size: 13px;
        width: 250px;
    }


    /* ----------------------------------------------------------
            MEDIA2 - FOOTER
    -------------------------------------------------------------*/

    .footer-section{
        margin-top: 50px;
        margin-bottom: 0px;
        width: 600px;
        flex-direction: column;
    }

    .footer-left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 600px;
    }

    .footer-left p{
        width: 600px;
        margin-left: 70px;
    }


    .footer-section ul{
        width: 150px;
        margin: 20px 0px;
    }

    .footer-r{
        margin-bottom: 0px;

    }

    .footer-center{
        position: relative;

    }

    .footer-right h5{
        margin-bottom: 0px;
        
    }

    .footer-right{
        /* margin-left: 90%; */
        
    }

    
}